/.CrySLGenerator.xtendbin
/.CrySLJvmModelInferrer.xtendbin
/.CrySLRuntimeModule.xtendbin
/.CrySLStandaloneSetup.xtendbin
/.StatemachineGenerator.xtendbin
/.StatemachineRuntimeModule.xtendbin
/.StatemachineStandaloneSetup.xtendbin
